In [1]:
import pandas as pd

load and prepare the data

In [2]:
df = pd.read_csv('../data/TSLA_historical_data.csv')

Convert the 'Date' column to datetime format

In [4]:
df['Date'] = pd.to_datetime(df['Date'])

In [6]:
df = df.sort_values('Date')

check the data and Ensure includes columns like Open, High, Low, Close, and Volume

In [8]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,2010-06-29,1.266667,1.666667,1.169333,1.592667,1.592667,281494500,0.0,0.0
1,2010-06-30,1.719333,2.028000,1.553333,1.588667,1.588667,257806500,0.0,0.0
2,2010-07-01,1.666667,1.728000,1.351333,1.464000,1.464000,123282000,0.0,0.0
3,2010-07-02,1.533333,1.540000,1.247333,1.280000,1.280000,77097000,0.0,0.0
4,2010-07-06,1.333333,1.333333,1.055333,1.074000,1.074000,103003500,0.0,0.0