In [1]:
import pandas as pd

load and prepare the data

In [2]:
df = pd.read_csv('../data/TSLA_historical_data.csv')

Convert the 'Date' column to datetime format

In [4]:
df['Date'] = pd.to_datetime(df['Date'])

In [6]:
df = df.sort_values('Date')

check the data and Ensure includes columns like Open, High, Low, Close, and Volume

In [8]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Dividends,Stock Splits
0,2010-06-29,1.266667,1.666667,1.169333,1.592667,1.592667,281494500,0.0,0.0
1,2010-06-30,1.719333,2.028000,1.553333,1.588667,1.588667,257806500,0.0,0.0
2,2010-07-01,1.666667,1.728000,1.351333,1.464000,1.464000,123282000,0.0,0.0
3,2010-07-02,1.533333,1.540000,1.247333,1.280000,1.280000,77097000,0.0,0.0
4,2010-07-06,1.333333,1.333333,1.055333,1.074000,1.074000,103003500,0.0,0.0

#Apply Analysis Indicators with TA-Lib

In [9]:
import talib as ta

Calculate the 20-day Simple Moving Average (SMA)

In [56]:

df['SMA_20'] = ta.SMA(df['Close'], timeperiod=20)

Calculate the 14-day Relative Strength Index (RSI)

In [57]:
df['RSI_14'] = ta.RSI(df['Close'], timeperiod=14)

 Display the first few rows with the new indicators

In [58]:

print(df[['Date', 'Close', 'SMA_20', 'RSI_14']].head(25))

         Date     Close    SMA_20     RSI_14
0  2010-06-29  1.592667       NaN        NaN
1  2010-06-30  1.588667       NaN        NaN
2  2010-07-01  1.464000       NaN        NaN
3  2010-07-02  1.280000       NaN        NaN
4  2010-07-06  1.074000       NaN        NaN
5  2010-07-07  1.053333       NaN        NaN
6  2010-07-08  1.164000       NaN        NaN
7  2010-07-09  1.160000       NaN        NaN
8  2010-07-12  1.136667       NaN        NaN
9  2010-07-13  1.209333       NaN        NaN
10 2010-07-14  1.322667       NaN        NaN
11 2010-07-15  1.326000       NaN        NaN
12 2010-07-16  1.376000       NaN        NaN
13 2010-07-19  1.460667       NaN        NaN
14 2010-07-20  1.353333       NaN  39.206237
15 2010-07-21  1.348000       NaN  39.004186
16 2010-07-22  1.400000       NaN  42.135583
17 2010-07-23  1.419333       NaN  43.301036
18 2010-07-26  1.396667       NaN  42.227207
19 2010-07-27  1.370000  1.324767  40.940802
20 2010-07-28  1.381333  1.314200  41.752911
21 2010-07-29  1.356667  1.302600  40.449219
22 2010-07-30  1.329333  1.295867  38.996100
23 2010-08-02  1.394667  1.301600  44.159764
24 2010-08-03  1.463333  1.321067  49.041800